<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dahboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/script.js" type="text/javascript" defer></script></head>
<body>
    <header>
        <header class="header-wrapper">
            <a href="/" style="text-decoration: none;"><div id="logo">ShortHTTP
            </div></a>
            <nav>
                <div class="nav-button-wrapper">
                    <button class="button" id="logout">Log Out <span><i
                                class="fa-solid fa-right-to-bracket"></i></span></button>
                </div>
            </nav>
        </header>
    </header>
    <div class="main-wrapper">

        <h1 class="hero-header" style="text-align: center;">Dashboard</h1>

        <section class=" url-form url-form-dashboard">

            <form action="/url/generateUrl" method="post">
                <input type="url" name="url" id="redirectUrl" required>
                <button class="url-submit button" type="submit">Shorten Now!</button>
            </form>
        </section>

    <span class="copiesmsg">Copied to Clipboard!</span>
        <div class="shortlinks_table">
                <div class="row-1">
                    <div class="col-1">
                        Short Link
                    </div>
                    <div class="col-2">
                        Original Link
                    </div>
                </div>
                
                <% result?.forEach((item) => { %>
                    <div class="row">
                        <div class="col">
                            <a class="shorturl" href="https://shorthttp.onrender.com/url/s/<%= item.shortId %>" style="color: #144EE3;" title="copy">
                                <%= "https://shorthttp.onrender.com/url/s/" + item.shortId %>
                            </a>
                            <span  class="copybtn" style="margin:10px; cursor:pointer; color:#144EE3;" title="copy"><i class="fa-regular fa-copy"></i></span>

                        </div>
                        <div class="col">
                            <%= item.redirectUrl %>
                            <div>
                                   <a href="/url/deleteurl/<%= item._id %>">  <i> <i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                <% }); %>
        </div>

            <%- include("footer.ejs") %>
